[submodule ".registry"]
	path = .registry
	url = https://github.com/ykunisato/ykunisato.r-universe.dev
	branch = HEAD
[submodule "PanicModel"]
	path = PanicModel
	url = jmbh/PanicModel
[submodule "jpaRmd"]
	path = jpaRmd
	url = https://github.com/ykunisato/jpaRmd
	registered = false
[submodule "psyinfr"]
	path = psyinfr
	url = https://github.com/ykunisato/psyinfr
[submodule "psynetsim"]
	path = psynetsim
	url = TakumiOmizu/psynetsim
